GitPython==3.1.42
jupyter==1.0.0
lizard==1.17.10
matplotlib==3.8.3
pandas==2.2.1
pylint==3.1.0
pytest==8.1.1
PyDriller==2.6
rich==13.7.1
scipy==1.12.0
seaborn==0.13.2
requests==2.31.0
numpy==1.26.4
db-sqlite3==0.0.1
SQLAlchemy==2.0.28
python-dateutil==2.8.2
python-dotenv==1.0.1
scikit-learn==1.4.1.post1