certifi==2023.11.17
charset-normalizer==3.3.2
colorama==0.4.6
coverage==7.4.1
gitdb==4.0.11
GitPython==3.1.41
idna==3.6
iniconfig==2.0.0
lizard==1.17.10
packaging==23.2
pluggy==1.4.0
PyDriller==2.6
pytest==8.0.0
pytz==2023.4
requests==2.31.0
smmap==5.0.1
types-pytz==2023.3.1.1
urllib3==2.1.0